sudo: false
language: java
# defer JDK to install step.
#jdk:
#  - 21.0.2-open
#  - openjdk21

cache:
  directories:
    - $HOME/.gradle/caches/        # Gradle cache
    - $HOME/.gradle/wrapper/       # Gradle wrapper
    - $HOME/.m2/repository         # Maven repository
    - $HOME/apache-maven-3.8.4
## export GPG details
#before_install:
  #  - echo -e "machine github.com\n  login $GITHUB_USER\n  password $GITHUB_PASSWORD" > $HOME/.netrc
#  - echo $GPG_SECRET_KEYS | base64 --decode | $GPG_EXECUTABLE --import
#  - echo $GPG_OWNERTRUST | base64 --decode | $GPG_EXECUTABLE --import-ownertrust
#  - export M2_HOME=$HOME/apache-maven-3.8.4
#  - if [ ! -d $M2_HOME/bin ]; then curl https://archive.apache.org/dist/maven/maven-3/3.8.4/binaries/apache-maven-3.8.4-bin.tar.gz | tar zxf - -C $HOME; fi
#  - export PATH=$M2_HOME/bin:$PATH

install:
  - curl -s "https://get.sdkman.io" | bash
  - source "$HOME/.sdkman/bin/sdkman-init.sh"
  - sdk install java 21.0.6-jbr
  - export JAVA_HOME=/home/travis/.sdkman/candidates/java/current
  - export PATH=$JAVA_HOME/bin:$PATH
  - echo $JAVA_HOME
  - which java
  - java -version
  - javac -version
  - rm -rf $HOME/.gradle/caches
  - chmod +x gradlew
  - ./gradlew dependencies

# Note that most of the current SDLC CI is done in .github/workflows/build.yml i.e. the github workflow actions
# Maybe going forward these need to be either migrated to or replicated in Travis.
script:
  # The wait is needed because sometimes the cache needs to be rebuilt which takes upto 20 mins
  - date
  #- cat /home/travis/.travis/functions
  - ./gradlew buildPlugin
  - ./gradlew test
  #- echo "Fetching latest IntelliJ IDEA IC version..."
  #- LATEST_IDEA_VERSION=$(curl -s https://data.services.jetbrains.com/products/releases?code=IC&latest=true&type=release | jq -r '.IC[0].version')
  #- echo "Latest version is $LATEST_IDEA_VERSION"
  - ./gradlew verifyPlugin
